<%= render layout: 'shared/boxed', locals: {title: @user.username} do %>

  <div class="block columns">

    <div class="block column is-3">
      <h1 class="title is-4">My cats:</h1>
      <%= render 'shared/cats', cats: @user.cats, page: :user %>
    </div>

    <div class="block column">
      <h1 class="title is-4">My requests:</h1>
      <%= requests(@user, :user) %>
    </div>

  </div>

  <div class="level">
    <%= link_to 'Edit account', edit_user_url(@user), class: 'button is-small is-secondary' %>
    <%= link_to 'Delete account', user_url(@user), method: :delete, class: 'button is-small is-secondary' %>
  </div>

<% end %>