<header class="navbar is-tertiary">
    <div class="navbar-end">
    <% if current_user %>
        <h2 class="navbar-item">Hi <%= current_user.username %>!</h2>
        <form class="navbar-item" action="<%= session_url %>" method="post">
            <input type="hidden"
                name="authenticity_token"
                value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input class="button is-small is-secondary" type="submit" value="Log out">
        </form>
    <% else %>
        <form class="navbar-item" action="<%= new_user_url %>">
            <input class="button is-small is-secondary" type="submit" value="Register">
        </form>
        <form class="navbar-item" action="<%= new_session_url %>">
            <input class="button is-small is-secondary" type="submit" value="Log in">
        </form>
    <% end %>
    </div>
</header>