<% case action %>
  <% when :register %>
    <% action_url, method, submit, password_label = [users_url, :post, 'Register', 'Password (min. 6 characters)'] %>
  <% when :login %>
    <% action_url, method, submit, password_label = [session_url, :post, 'Log in', 'Password'] %>
  <% when :edit %>
    <% action_url, method, submit, password_label = [user_url, :patch, 'Submit', 'New password'] %>
<% end %>

<%= form_with url: action_url, method: :post do |form| %>

  <%= form.hidden_field '_method', value: method %>

  <div class="field">
    <%= form.label 'username', 'Username', class: 'label' %>
    <%= form.text_field 'user[username]', value: action == :edit ? user.username : '', class: 'input half-width' %>
  </div>

  <% unless action == :login %>
    <div class="field">
      <%= form.label 'email', 'Email address', class: 'label' %>
      <%= form.email_field 'user[email]', value: action == :edit ? user.email : '', class: 'input half-width' %>
    </div>
  <% end %>


  <div class="field">
    <%= form.label 'password', password_label, class: 'label' %>
    <%= form.password_field 'user[password]', class: 'input half-width' %>
  </div>

  <%= form.submit submit, class: 'button is-small is-secondary' %>

<% end %>