<%= form_with url: cat_rental_requests_url, method: :post do |form|%>

  <%= rental_form_cat_name(cat, cats, form) %>

  <div class="field">
    <%= form.label 'start_date', "Start date", class: 'label' %>
    <%= form.date_field 'cat_rental_request[start_date]', class: 'date input' %> 
  </div>

  <div class="field">
    <%= form.label 'end_date', "End date", class: 'label' %>
    <%= form.date_field 'cat_rental_request[end_date]', class: 'date input' %> 
  </div>

  <%= form.submit 'Send request', class: 'button is-small is-secondary' %> 

<% end %>