<%= form_with url: cat_rental_requests_url, method: :post do |form|%>
  
  <% if !@cat %>
    <div class="field">
      <%= form.label 'cat_id', "Select a cat", class: 'label' %>
      <div class="control">
        <div class="select">
          <%= form.collection_select 'cat_rental_request[cat_id]', cats, :id, :name, prompt: "-pick one-" %>
        </div>
      </div>
    </div>
  <% else %>
    <%= tag.h2 cats.find(@cat.id).name, class: 'title is-2' %>
    <%= form.hidden_field 'cat_rental_request[cat_id]', value: @cat.id %>
  <% end %>

  <div class="field">
    <%= form.label 'start_date', "Start date", class: 'label' %>
    <%= form.date_field 'cat_rental_request[start_date]', class: 'date input' %> 
  </div>

  <div class="field">
    <%= form.label 'end_date', "End date", class: 'label' %>
    <%= form.date_field 'cat_rental_request[end_date]', class: 'date input' %> 
  </div>

  <%= form.submit 'Send request', class: 'button is-small is-secondary' %> 

<% end %>