<%= form_with url: action_url, method: :post, local: true do |form| %>

  <%= form.hidden_field '_method', value: method %>
  <%= form.hidden_field 'authenticity_token', value: form_authenticity_token %>

  <div class="field">
    <%= form.label 'name', 'Name', class: 'label' %>
    <div class="control">
      <%= form.text_field 'cat[name]', value: cat.name, class: 'input half-width' %>
    </div>
  </div>

  <div class="field">
    <%= form.label 'birth_date', 'Birth date', class: 'label' %>
    <div class="control">
      <%= form.date_field 'cat[birth_date]', value: cat.birth_date, class: 'date input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label 'color', 'Color', class: 'label' %>
    <div class="control">
      <div class="select">
        <% colors = Cat::COLORS.map { |color| color } %>
        <%= form.select 'cat[color]', colors, prompt: '- pick color -', selected: cat.color %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label 'sex', 'Sex', class: 'label' %>
    <%= form.label 'M', 'M', class: 'radio has-text-weight-semibold' %>
    <%= form.radio_button 'cat[sex]', 'M', checked: cat.sex == 'M'%>
    <%= form.label 'F', 'F', class: 'radio has-text-weight-semibold' %>
    <%= form.radio_button 'cat[sex]', 'F', checked: cat.sex == 'F' %>
  </div>

  <div class="field">
    <%= form.label 'description', 'Description', class: 'label' %>
    <%= form.text_area 'cat[description]', value: cat.description, class: 'textarea half-width' %>
  </div>

  <div class="field">
    <%= form.label 'pic', 'Add image:', class: 'label' %>
    <%= form.file_field 'cat[pic]', direct_upload: true %>
  </div>

  <%= form.submit submit, class: 'button is-small is-secondary mt-6' %>

<% end %>
