<%= render layout: 'shared/boxed', locals: {title: @cat.name} do %>

  <div class="block columns">
    <div class="box column is-7">
      <div class="image">
        <%= cat_image(@cat) %>
      </div>
    </div>

    <div class="block column is-4 m-6">
      <table class="table is-narrow">
        <tr>
          <td class="has-text-weight-bold">Age</td>
          <td><%= age(@cat) %></td>
        </tr>
        <tr>
          <td class="has-text-weight-bold">Color</td>
          <td><%= @cat.color %></td>
        </tr>
        <tr>
          <td class="has-text-weight-bold">Sex</td>
          <td><%= @cat.sex %></td>
        </tr>
        <tr>
          <td class="has-text-weight-bold">Description</td>
          <td><%= @cat.description %></td>
        </tr>
      </table>

      <div class="block pt-2">
          <h3 class="subtitle">Rental requests:</h3>
          <%= requests(@cat, :cat) %>
      </div>
    </div>
  </div>


  <div class="level">
    <%= cat_processing(@cat) %>
  </div>
<% end %>
 