<h1><%= @cat.name %></h1>

<table>
  <tr>
    <td>Age</td>
    <td><%= @cat.age %></td>
  </tr>
  <tr>
    <td>Color</td>
    <td><%= @cat.color %></td>
  </tr>
  <tr>
    <td>Sex</td>
    <td><%= @cat.sex %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= @cat.description %></td>
  </tr>
</table>


<h3>Rental requests:</h3>

<% requests = @cat.rental_requests.order(:start_date) %>
<ul>
  <% requests.each do |request| %>
  <li>
    <%= "#{request.start_date} - #{request.end_date} id: #{request.id} cat id: #{request.cat_id}" %>
    <% if request.status == 'PENDING' %>
      <form action="<%= approve_cat_rental_request_url(id: request.id) %>" method="post">
        <input type="submit" value="Accept">
      </form>
      <form action="<%= deny_cat_rental_request_url(id: request.id) %>" method="post">
        <input type="submit" value="Reject">
      </form>
    <% end %>
  </li>
  <br>
  <% end %>
</ul>

<br>

<% if current_user && current_user.id == @cat.owner.id %>
  <%= link_to 'Edit cat', edit_cat_url(@cat) %>
<% end %>
<br><br>
<%= link_to 'Back to index', cats_url %>
