<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar is-tertiary">
      <% if current_user %>
        <div class="navbar-end">
          <h2 class="navbar-item">Hi <%= current_user.username %>!</h2>
          <form class="navbar-item" action="<%= session_url %>" method="post">
            <input type="hidden"
                   name="authenticity_token"
                   value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input class="button is-small is-secondary" type="submit" value="Log out">
          </form>
        </div>
      <% else %>
        <div class="navbar-end">
          <form class="navbar-item" action="<%= new_user_url %>">
            <input class="button is-small is-secondary" type="submit" value="Register">
          </form>
          <form class="navbar-item" action="<%= new_session_url %>">
            <input class="button is-small is-secondary" type="submit" value="Log in">
          </form>
        </div>
      <% end %>
    </header>

      <% if !flash.empty? %>
        <% flash.each do |category, message| %>
          <% if !message.is_a?(Integer) %>
            <div class="has-text-centered has-text-<%=category%> has-background-<%=category%>-light">
              <p><%= message %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>

    <%= yield %>
  </body>
</html>
