<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <%= render partial: 'shared/header' %>

    <%= render partial: 'shared/flash' %>

    <%= tag.div yield, class: "container has-text-centered mt-6 mb-6" %>
    

  </body>
</html>
